<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
        package="com.alejandrorios.teamlist">

    <application>
        <activity
                android:name=".TeamListActivity"
                android:theme="@style/AppTheme.NoActionBar">
        </activity>
    </application>
</manifest>
